@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
margin: 0;
padding: 0;
}

header {
max-width: 1170px;
width: 100%;
margin: 0 auto;
}
nav {
display: flex;
justify-content: space-between;
padding: 40px 0px;
}

nav > ul {
display: flex;
justify-content: space-between;
align-items: center;
gap: 44px;
}
ul li{
    list-style: none;
    color: black;
}
li a{
    text-decoration: none;
}
.footer-icon{
    display: flex;
}
.header-title {
  
color: #131318;
font-size: 2.2rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.header-icon-section {
display: flex;
justify-content: center;
align-items: center;
}
nav 
.span {
color: #ff5400;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
nav ul a {
color: #424247;
font-size: 1.1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
transition: all linear 0.3s;
}

/* banner-part */
.banner-container {
padding: 106px 185px;
background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
border-radius: 16px;
z-index: 1;
position: relative;
text-align: center;
}

.banner-content {
color: #fff;
font-size: 4rem;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
}
.banner-description {
color: #fff;
text-align: center;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 26px;

padding: 48px;
}
.banner-option {
width: 100%;
padding: 16px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.3);
}
.banner-option-menu {
display: flex;
justify-content: space-between;
gap: 24px;
}
.banner-option-menu input {
padding: 16px;
width: 100%;
max-width: 174px;
border-radius: 8px;
background: #fff;
border: none;
color: rgba(19, 19, 24, 0.5);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.banner-option-menu input::placeholder {
color: rgba(19, 19, 24, 0.5);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.banner-option .btn-banner {
max-width: 174px;
width: 100%;
border-radius: 8px;
background: #ff5400;
border: none;
color: #fff;
text-align: center;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
transition: all linear 0.3s;
}
.banner-option .btn-banner:hover {
background-color: #b5582a;

}
main {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;}
   
      .popular-tour-head {
        color: #131318;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }
      .popular-head-description {
        width: 100%;
        max-width: 500px;
        color: rgba(19, 19, 24, 0.7);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin: 24px 0;
      }
      .popular-description ul li {
        max-width: 500px;
        width: 100%;
        color: rgba(19, 19, 24, 0.7);
        font-family: Mulish;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 16px;
      }
      .popular-description-finished {
        max-width: 500px;
        width: 100%;
        color: #5a5a5d;
        font-family: Mulish;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 32px;
      }
      .popular-tour-section .banner-btn {
        width: 174px;
        height: 52px;
        border-radius: 8px;
        background: #ff5400;
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        border: none;
        transition: all linear 0.3s;
      }
      .popular-tour-section .banner-btn:hover {
        background-color: #b5582a;
      }
      .popular-tour {
        margin: 100px 0;
        display: flex;
        justify-content: space-between;
      }
      .main-container-img img {
        width: 100%;